.class00{
    // background-color: rgb(241, 178, 178)  !important;
    background-color: var(--surface-600) !important;
    text-align: center !important;
    color: black !important;
}
.class01{
    // background-color: rgb(241, 178, 178)  !important;
    background-color: var(--surface-500) !important;
    text-align: center !important;
    color: black !important;
}
.class02{
    // background-color: green  !important;
    background-color: var(--surface-400) !important;
    text-align: center !important;
    color: black !important;
}
.class03{
    // background-color: pink  !important;
    background-color: var(--surface-300) !important;
    text-align: center !important;
    color: black !important;
}
.class04{
    background-color: var(--surface-200) !important;
    // background-color: orange  !important;
    text-align: center !important;
    color: black !important;
}
.class05{
    background-color: var(--surface-100) !important;
    // background-color: blue  !important;
    text-align: center !important;
    color: black !important;
}
.leafClass{
    background-color: var(--surface-50) !important;
    text-align: center !important;
    color: black !important;
}


