:host ::ng-deep .c-icons {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
  display: inline-block;
}
:host ::ng-deep .app-drawer {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  display: inline-block;
}
