<!-- <div class="grid">
    <div class="col-12">
        <div class="card">
            <h3>{{'administration.role.list.title' | translate}}</h3>
          
            <p>{{'administration.role.list.description' | translate}}</p>
            <button pButton type="button"  class="p-button-info mr-2">{{'administration.role.list.button.add' | translate}}</button>
            <button pButton type="button" class="p-button-secondary mr-2">{{'administration.role.list.button.new' | translate}}</button>
            <button pButton type="button" class="p-button-warning mr-2">{{'administration.role.list.button.delete' | translate}}</button>                       
        </div>
        
    </div>

</div> -->
  <!-- <p translate [translateParams]="{ name: name, des: desigination }">administration.role.list.title</p> -->
<!-- <h6>Default Currency Amount: {{amount}}</h6> 
        
<p>{{commonService.selectedCurrencyLabel}} : {{ amount | currency: commonService.selectedCurrency: 'symbol' }}</p> -->
<!-- <select class="form-control" #langauge (change)="useLanguage(langauge.value)">
    <option *ngFor="let localization of translateService.getLangs()" [value]="localization"
            [selected]="localization === translateService.currentLang">
      {{ localization }}
    </option>
  </select> -->



 