<div class="card p-2 mb-3">

   
    <div class="row flex justify-content-start mb-0">
        <h3>{{'settings.pages.paymt_recipt_contra.contra_title' | translate}}</h3>
        </div>
        <!-- <div class="row flex justify-content-start mb-0">
        <h6> {{'settings.pages.view_journal.sub_title' | translate}}</h6>

        </div> -->
</div>

<div class="card" class="customised-datatable">

    
    <div class="flex align-items-baseline grid">
        <div class="field mb-4 col-12 md:col-2">
            <input pInputText type="number"  min="1" step="1"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="{{'settings.pages.view_journal.search_voucher' | translate}}" [(ngModel)]="voucherKey" [style]="{'width': '100%'}"/>
            <!-- <button pButton pRipple icon="pi pi-search"  (click)="getJournalList('voucher')" label=""  class="p-button-primary h-3rem ml-1"></button> -->
            <!-- <button *ngIf="voucherKey" pButton pRipple icon="pi pi-times"  (click)="clear('voucher')" label=""  class="p-button-secondary h-3rem ml-1"></button> -->
        </div>
        <div class="field mb-4 col-12 md:col-2">
            <p-calendar [showIcon]="true" [maxDate]="currentDate"  inputId="from" [(ngModel)]="journalVoucherData.from" dateFormat="dd-M-yy" placeholder="{{'settings.pages.view_journal.from_placeholder' | translate}}" [style]="{'width': '100%'}" ></p-calendar>
        </div>
        <div class="field mb-4 col-12 md:col-2">
            <p-calendar [showIcon]="true" [maxDate]="currentDate" [minDate]="journalVoucherData.from" dateFormat="dd-M-yy"  inputId="to" [(ngModel)]="journalVoucherData.to"  placeholder="{{'settings.pages.view_journal.to_placeholder' | translate}}" [style]="{'width': '100%'}" ></p-calendar>
        </div>
       
        <div class="flex justify-content-end justify-content-between align-items-baseline field col-12 md:col-6">
            <button pButton pRipple icon="pi pi-search"  label="{{'settings.pages.view_journal.search_button' | translate}}"  class="p-button-primary mr-2 mt-2 sm:w-auto min-w-max lg:w-2" (click)="getJournalList('search')"></button>
            <button *ngIf="commonService.checkItemExist(commonService.accessList.AddJournalVoucher)" pButton pRipple icon="pi pi-plus"  label="{{'settings.pages.paymt_recipt_contra.add_new_contra_voucher' | translate}}"  class="p-button-success mr-2 mt-2 sm:w-auto min-w-max lg:w-2" [routerLink]="['/banking/contra-vouchers']"></button>
        </div>

        
    </div>
 
    <p-table [value]="journalList" [lazy]="true" styleClass="p-datatable-gridlines p-datatable-striped"  currentPageReportTemplate="Showing {first} to {last} of {{totalrecords}} entries" (onLazyLoad)="loadJvData($event)" responsiveLayout="scroll" dataKey="id"  [paginator]="true" [rows]="50" [totalRecords]="totalrecords" [loading]="false" [rowsPerPageOptions]="[50,75,100]" [showCurrentPageReport]="true">
    <!-- <ng-template pTemplate="caption">
        <div class="flex mb-auto"> -->
            <!-- <div class="field inline mb-4 col-12 md:col-6">
                <input pInputText type="number"  min="1" step="1"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="{{'settings.pages.view_journal.search_voucher' | translate}}" [(ngModel)]="voucherKey"/>
                <button pButton pRipple icon="pi pi-search"  (click)="getJournalList('voucher')" label=""  class="p-button-primary h-3rem ml-1"></button>
                <button *ngIf="voucherKey" pButton pRipple icon="pi pi-times"  (click)="clear('voucher')" label=""  class="p-button-secondary h-3rem ml-1"></button>
            </div>
             -->
            <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                
            </span>
            <span>
                <button pButton label="" class="p-button-outlined" icon="pi pi-search"></button>
            </span> -->
        <!-- </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <!-- <th class="text-center w-1">{{'Sl No' | translate}}</th> -->
            <th style="width: 11%;">{{'settings.pages.view_journal.date' | translate}}</th>
            <th style="width: 11%;">{{'settings.pages.view_journal.vouch_no'| translate}}</th>
            <th class="w-4">{{'settings.pages.view_journal.narration'| translate}}</th>
            <th class="text-right w-2">{{'settings.pages.view_journal.amt'| translate}}</th>
            <th class="w-2">{{'settings.pages.view_journal.branch' | translate}}</th>
            <!-- <th class="text-center">{{'settings.pages.view_journal.created_by' | translate}}</th> -->
            <th class="text-center" *ngIf="commonService.checkItemExist(commonService.accessList.ViewJournalsVouchers) || commonService.checkItemExist(commonService.accessList.EditJournalVoucher) || commonService.checkItemExist(commonService.accessList.PrintJournalVoucher)|| commonService.checkItemExist(commonService.accessList.DeleteJournalVoucher)">{{'settings.pages.view_journal.action'| translate}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-journal let-rowIndex="rowIndex"> 
        <tr>
            <!-- <td class="text-center w-1">{{rowIndex + 1}}</td> -->
            <td style="width: 11%;">{{journal.Date}}</td>
            <td style="width: 11%;">{{journal.id}}</td>
            <td class="w-4">{{journal.narration}}</td>
            <td class="w-2 text-right">{{journal.amount   | currency: journal.BaseCurrency  + '  ' :'symbol':'1.2-2'}}</td>                       
            <td class="w-2">{{journal.BranchName}}</td>                       

            <td class="w-auto"  *ngIf="commonService.checkItemExist(commonService.accessList.ViewJournalsVouchers) || commonService.checkItemExist(commonService.accessList.EditJournalVoucher) || commonService.checkItemExist(commonService.accessList.PrintJournalVoucher)|| commonService.checkItemExist(commonService.accessList.DeleteJournalVoucher)">
                <div class="flex">
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2" disabled  (click)="editJournal(journal,'view')" *ngIf="commonService.checkItemExist(commonService.accessList.ViewJournalsVouchers) && !commonService.checkItemExist(commonService.accessList.EditJournalVoucher)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" disabled (click)="editJournal(journal,'edit')"  *ngIf="commonService.checkItemExist(commonService.accessList.EditJournalVoucher)"></button>
                    <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded p-button-help mr-2" disabled ></button>
                    <button pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-warning mr-2" disabled *ngIf="commonService.checkItemExist(commonService.accessList.PrintJournalVoucher)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" disabled (click)="confirmDialogForJournal(journal)" *ngIf="commonService.checkItemExist(commonService.accessList.DeleteJournalVoucher)"></button>

                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7"> {{'settings.pages.view_journal.not_found'| translate}} </td>
        </tr>
    </ng-template>
    </p-table>
   
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<div class="pageload" *ngIf="isSpinner">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6"  animationDuration=".5s">
    </p-progressSpinner>
</div>

